/.idea
/.svn
/assets/config/db.php
/assets/config/parameters.php
/assets/config/email.php
/assets/config/rest.php
/assets/config/bak/
/assets/config/vuln/
/web/log.txt
/web/test.php
/web/out/*
!/web/out/.gitkeep
/web/user_pictures
/Hackazon
*.iml


