<div class="row">
<div class="col-lg-12">
<p>Most consumer goods are delivered from a point of production (factory or farm) through one or more points of 
    storage (warehouses) to a point of sale (retail store), where the consumer buys the good and is responsible 
    for its transportation to point of consumption. There are many variations on this model for specific types of 
    goods and modes of sale. 
</p>
<p>
    Products sold via catalogue or the Internet may be delivered directly from the manufacturer or warehouse to the 
    consumer's home, or to an automated delivery booth. 
</p>
<p>
    Small manufacturers may deliver their products directly to retail stores without warehousing. Some manufacturers 
    maintain factory outlets which serve as both warehouse and retail store, selling products directly to 
    consumers at wholesale prices (although many retail stores falsely advertise as factory outlets). 
</p>
<p>
    Building, construction, landscaping and like materials are generally delivered to the consumer by a 
    contractor as part of another service. Some highly perishable or hazardous goods, such as radioisotopes used
    in medical imaging, are delivered directly from manufacturer to consumer. 
</p>
<p>
    Home delivery is often available for fast food and other convenience products, e.g. pizza delivery. 
    Sometimes home delivery of supermarket goods is possible. 
    A milk float is a small battery electric vehicle (BEV), specifically designed for the delivery of fresh milk.
    A new form of delivery is emerging on the horizon of the internet age: Delivery by the crowd e.g. crowd delivery.
    In this concept an individual not necessarily contracted by the vendor performs the delivery of goods to the 
    destination.</p>
    
</div>
</div>