<html>
    <head>
        <title>AmfPHP Back Office</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <LINK rel=stylesheet type="text/css" href="style.css">    
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/jquery.dump.js"></script>
        <script type="text/javascript" src="js/json2.js"></script>
        <script type="text/javascript" src="js/services.js"></script>
    </head>
    <body>
        <div class="static">
            <a href="?" id="titleLink"><b>AmfPHP HTML Generated Client</b></a>
            <ul>
                <li><a href="http://www.silexlabs.org/amfphp/feedback/">Feedback</a></li>
                <li><a href="http://www.silexlabs.org/groups/amfphp/amfphp-users/">Forum</a></li>
                <li><a href="http://www.silexlabs.org/amfphp/documentation/">Documentation</a></li>
                <li><a href="http://community.silexlabs.org/amfphp/reference/">Class Reference</a></li>
                <li><a href="https://github.com/silexlabs/amfphp-2.0">Source Code</a></li>
                <li><a href="http://www.silexlabs.org/amfphp/">AmfPHP Website</a></li>
                <li><a href="http://www.silexlabs.org/">Silex Labs</a></li>
                <li><a href="http://www.silexlabs.org/category/exchange/exchange-amfphp/">More Plugins</a></li>

            </ul>
        </div>
        <ul class='menu'>

            <!--ACG_SERVICE-->
            <li><b><a href='_SERVICE_ClientUi.html'>_SERVICE_</a></b></li>
            <!--ACG_SERVICE-->
        </ul>

    </body>	
</html>
